<h1>Thanks, bro!</h1>

<p>
  Thanks for completing this year's questionaire! Sit tight while we wait for all the responses to come in.
</p>

<%= image_tag "https://media.giphy.com/media/jdDqJNNWlIDRu/giphy.gif" %>
