<h1>Dues</h1>

<div id='wepay_checkout'></div>
<script type='text/javascript' src='https://www.wepay.com/min/js/iframe.wepay.js'>
</script>

<script type='text/javascript'>
  WePay.iframe_checkout('wepay_checkout', '<%= @wepay_checkout_uri %>');
</script>
