<h1>Dues and Fund Contributions</h1>

<p>
  Annual dues this year are <%= number_to_currency @annual_dues %>, and you
  conrtributed <%= number_to_currency @fund_contributions %> towards our
  funds. Your total due now is <%= number_to_currency @total_due %>.
</p>

<p>
  Please complete the form below to pay your dues and fund contributions.
</p>

<div id='wepay_checkout'></div>
<script type='text/javascript' src='https://www.wepay.com/min/js/iframe.wepay.js'>
</script>

<script type='text/javascript'>
  WePay.iframe_checkout('wepay_checkout', '<%= @wepay_checkout_uri %>');
</script>
