<h1>Manage Questionaires</h1>

<table>
  <% questionaires.each do |questionaire| %>
    <tr>
      <td><%= questionaire.member_name %></td>
      <td><%= questionaire.current_status %></td>
      <td>
        <%= button_to "Send",
          questionaire_deliveries_path(questionaire_id: questionaire.id),
          remote: true
        %>
      </td>
    </tr>
  <% end %>
</table>
